@import '../stylesheets/core/reset.scss';
@import '../stylesheets/core/variables.scss';
@import '../stylesheets/core/mixins.scss';

body {
  overflow-wrap: break-word;
  font-family: 'Coming Soon', cursive;
  margin: 1em;
  background: $background-color;
  color: #fff;
}
