@import '../stylesheets/core/reset.scss';
@import '../stylesheets/core/variables.scss';
@import '../stylesheets/core/mixins.scss';

body {
  overflow-wrap: break-word;
  font-family: 'Coming Soon', cursive;
  background: $background-color;
  color: $font-color;
  font-family: $header-font;
}
.header {
  background-color: $aside-color;
  z-index: 2;
  &__title {
    padding: 15px;
    text-decoration: underline;
    text-align: center;
  }
  @include tablet {
    border-bottom: solid 2px $background-color;
  }
}

.main {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
}

.footer {
  width: 100%;
  background-color: $button-color;
  font-family: $header-font;
  color: $light-color;
  font-size: 12px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  z-index: 6;
  a {
    text-decoration: underline;
  }
}
