@import '../stylesheets/core/reset.scss';
@import '../stylesheets/core/variables.scss';
@import '../stylesheets/core/mixins.scss';

body {
  overflow-wrap: break-word;
  font-family: 'Coming Soon', cursive;
  background: $background-color;
  color: $font-color;
}
.header {
  @include box-shadow(1px, 1px, 7px, $font-color);
  &__title {
    padding: 15px;
    font-family: $header-font;
    text-decoration: underline;
    text-align: center;
  }
}

.main {
  display: flex;
}
