@import '../../stylesheets/core/reset.scss';
@import '../../stylesheets/core/variables.scss';
@import '../../stylesheets/core/mixins.scss';

.note__section {
  width: 100%;
  &__list {
    overflow: hidden;
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet {
      justify-content: flex-start;
    }
  }
  &__button {
    @include buttons($font-color-secondary, $background-color, 200px);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @include tablet {
      justify-content: flex-end;
      margin: 10px 50px;
    }
  }
}
