// MEDIA QUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

//BOX SHADOW
@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin transition($time, $type) {
  -moz-transition: -moz-transform $time $type;
  -o-transition: -o-transform $time $type;
  -webkit-transition: -webkit-transform $time $type;
}

// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}
// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

//Buttons

@mixin buttons($background, $color, $width) {
  button {
    background-color: $background;
    @include box-shadow(2px, 2px, 6px, rgba(192, 191, 191, 0.7));
    border-radius: 5px;
    color: $color;
    padding: 10px;
    margin-top: 15px;
    width: $width;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
