//FONTS
$header-font: 'Arvo', serif;
$titles-font: 'Coming Soon', cursive;
$main-font: 'Amatic SC', cursive;

//UI COLOR
$background-color: #f0f0f0;
$aside-color: #dadada;
$main-color: #f7e22c;
$light-color: white;
$font-color: rgb(39, 38, 38);
$font-color-secondary: rgba(255, 255, 255, 0.596);

//BREAKPOINTS
$tablet: 768px;

// MEDIA QUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}
