//FONTS
$titles-font: 'Coming Soon', cursive;
$main-font: 'Amatic SC', cursive;

//UI COLOR
$background-color: #0588a5;
$main-color: #e4d01d;
$font-color: rgb(39, 38, 38);
$font-color-secondary: white;
$font-color-tertiary: rgba(255, 255, 255, 0.596);

//BREAKPOINTS
$tablet: 768px;

// MEDIA QUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}
